<div>
    <h2>{{ entry.title }}</h2>
    <p>
        <a class="btn btn-warning" href="{% url 'blog:user_info' entry.author.id %}">{{ entry.author }}</a>
        {{ entry.pub_date }}
    </p>
    <p>{{ entry.text }}</p>
</div>