{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="jumbotron">
            <form action="{% url 'blog:add' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="title">Tytuł</label>
                    <br /><input type="text" name="title" id="title" placeholder="Wpisz tytuł" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="text">Tekst:</label>
                    <textarea name="text" id="text" class="form-control" placeholder="Wpisz tekst"></textarea>
                </div>
                <p><input type="submit" value="Wyślij" class="btn btn-primary btn-lg btn-block" /></p>
            </form>
      </div>
    {% endif %}




    <div class="row">
        {% if entries %}
            {% for entry in entries %}
                {% include 'microblog/entry.html' %}
            {% endfor %}
        {% else %}
            <p>Pusto</p>
        {% endif %}
    </div>
{% endblock %}