{% extends "base.html" %}

{% block content %}
<div class="container" style="width: 400px;">
{% if form.errors %}
    <div class="alert alert-danger">
        <strong>Niepoprawne dane logowania</strong>
    </div>
{% endif %}

<form method="post" action="{% url 'blog:login' %}">
{% csrf_token %}
<div class="form-group">
    {{ form.username.label_tag }}
    <input id="id_username" maxlength="254" name="username" type="text" class="form-control" />
</div>
<div class="form-group">
    {{ form.password.label_tag }}
    <input id="id_password" name="password" type="password" class="form-control" />
</div>
<div class="form-group">
    <input type="submit" value="Zaloguj się" class="btn btn-primary btn-lg btn-block" />
    <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
</div>
{% endblock %}