{% extends "base.html" %}

{% block content %}
    <div class="page-header"><h1>Użytkownicy</h1></div>
    {% if users %}
        {% for user in users %}
                <a class="btn btn-warning" href="{% url 'blog:user_info' user.id %}">{{ user.username }}</a>
        {% endfor %}
    {% else %}
        <p>Nie ma użytkowników</p>
    {% endif %}
{% endblock %}