{% extends "base.html" %}

{% block content %}
    <div class="page-header"><h1>{{ user_info.username|title }}<small style="float: right;"> wpisy użytkownika</small></h1></div>
    {% if entries %}
        {% for entry in entries %}
            {% include 'microblog/entry.html' %}
        {% endfor %}
    {% else %}
        <p>Brak wpisów</p>
    {% endif %}
{% endblock %}