{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mirko</title>

    <style type="text/css">
        .custom-btn {
            width: 100px !important;
        }
    </style>


    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <body>

    <div class="navbar navbar-inverse">
        <div class="container" style="width: 700px;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'blog:index' %}">#tylkomirko</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'blog:index' %}">Strona główna</a></li>
              <li><a href="{% url 'blog:users' %}">Użytkownicy</a></li>
            </ul>

            <div class="navbar-form navbar-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'blog:user_info' user.id %}" class="btn btn-info custom-btn">{{ user.username }}</a>
                    <a href="{% url 'blog:logout' %}" class="btn btn-danger custom-btn">Wyloguj się</a>
                {% else %}
                    <a href="{% url 'blog:login' %}" class="btn btn-success custom-btn">Zaloguj się</a>
                {% endif %}
            </div>

          </div><!--/.nav-collapse -->
        </div>
      </div>



        <div class="container" style="width: 700px;">
            <div class="content">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>